#__next {
  width: 100%;
  height: 100%;
}
/* General elements */
html {
  width: 100%;
  height: 100%;
  overflow-x: hidden; /* causing scrolling content to top when body overflow is set to hidden */
  /* overflow-y: auto; /* causing scrolling content to top when body overflow is set to hidden */
}
html body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  font-family: "Nunito Sans", sans-serif;
}
/* FORM */
form {
  position: relative;
}
